#osnova {
    width: 200px;
    height: 400px;
    border-radius: 50px;
    background: #585858;
    margin: auto;
    position: relative;
  }

  #red {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: red;
    position: relative;
    top: 10px;
    left: 50px;
  }

  #yellow {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: yellow;
    position: relative;
    top: 50px;
    left: 50px;
  }

  #green {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: green;
    position: relative;
    top: 80px;
    left: 50px;
  }